@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400;1,500&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Ubuntu:wght@400;500;700&family=Volkhov:ital,wght@0,700;1,400&family=Yeon+Sung&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*-----------------
Start of header section 
----------------------*/
.header-container{
    background: rgb(255, 244, 231);
    padding: 4rem 15rem 5rem 14rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 30px;
}

.navigation ul{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navigation ul li{
    list-style: none;
}

.navigation ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 14px;
    font-weight: 500;
}
/*-----------------
End of header section 
----------------------*/